<%- include("header") %>

<h1><%= title %>: <%- book.title %></h1>

<form method="post">

<div class="form-group">
    <label for="title">Title: 
    <input type="text" id="title" class="form-control" name="title" value="<%- book.title %>">
    </label>
</div>

<div class="form-group">
    <label for="author">Author: 
    <select name="author" id="author" class="form-control">
        <% for (const author of allAuthors) {
            if (author._id.toString() == currentAuthorId) { %>
                <option value="<%= author._id %>" selected><%= author.name %></option>
            <% } else { %>
                <option value="<%= author._id %>"><%= author.name %></option>
            <% } %>
        <% } %>
    </select>
    </label>
</div>

<div class="form-group">
    <label for="summary">Summary: 
    <input type="textarea" class="form-control" id="summary" name="summary" value="<%- book.summary %>"></label>
</div>

<div class="form-group">
    <label for="isbn">ISBN: 
    <input type="text" class="form-control" id="isbn" name="isbn" value="<%= book.isbn %>"></label>
</div>

<div class="form-group">
    <label for="genre">Genre: 
    <div>
    <% for (const genre of allGenres) { %>
        <div style="display: inline; padding-right: 10px">
        <% if (currentGenres.includes(genre._id.toString())) { %>
            <input type="checkbox" name="genre" id="<%= genre._id %>" value="<%= genre._id %>" class="checkbox-input" checked>
        <% } else { %>
            <input type="checkbox" name="genre" id="<%= genre._id %>" value="<%= genre._id %>" class="checkbox-input">
        <% } %> 
            <label for="<%= genre._id %>">&nbsp;<%= genre.name %></label>
        </div>
    <% } %> 
    </div>
    </label>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>

<ul>
<% for (const error of errors) { %>
    <li><%= error.msg %></li>
<% } %>
</ul>

<%- include("footer") %>